a.sub-item-link {
  text-decoration:none;
  color: teal;
}

a.sub-item-link:visited {
  color: pink;
}

a.sub-item-link:hover {
  color: green;
}

a.sub-item-link:focus {
  color: orange;
}

a.sub-item-link:active {
  color: red;
}