tr[class="read"] {
  background-image: linear-gradient(to right,#55e6e3, #fed6e3)
}

tr[class="to-read"] {
  background-image: linear-gradient(to right,#fbc2eb, #33c1ee)
}

tr[class="in-progress"] {
  background-image: linear-gradient(to right,#fcb69f, #ffdde1)
}

span {
  display: inline-block;
}

tr[class="read"] span[class="status"] {
  border: 2px solid #55e6e3;
  background-image: linear-gradient(to right,#55e6e3, #fed6e3)
}

tr[class="to-read"] span[class="status"] {
  border: 2px solid #fbc2eb;
  background-image: linear-gradient(to right,#fbc2eb, #33c1ee)
}

tr[class="in-progress"] span[class="status"] {
  border: 2px solid #fcb69f;
  background-image: linear-gradient(to right,#fcb69f, #ffdde1)
}

span[class="status"], span[class^="rate"] {
  height: 2rem;
  width: 5rem;
  padding: 0.5rem;
}

span[class^="rate"] > span {
  border: 1px solid #888;
  border-radius: 50%;
  margin: 0 0.1rem;
  height: 1rem;
  width: 1rem;
  background-color: #e8e8e8;
}

span[class~="one"] > span:first-child {
  background-image: linear-gradient(to right, #fbc2eb, #a6c1ee)
}

span[class~="two"] > span:nth-child(-n+2) {
  background-image: linear-gradient(to right, #11c2eb, yellow)
}

span[class~="three"] > span {
  background-image: linear-gradient(to right, #ffc211, green)
}